@model DFShop.Models.CartViewModel

@{
    ViewBag.Title = "Shopping Cart";
}
<script src="~/Scripts/jquery-3.4.1.min.js"
        type="text/javascript"></script>
<script type="text/javascript">$(function () {
        $(".RemoveLink").click(function () {
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                $.post("/Cart/RemoveEntry", {"id": recordToDelete },
                    function (data) {
                        if (data.ShoppingCartCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.ShoppingCartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.ShoppingCartCount + ')');
                    });
            }
        });
    });</script>
<h3>
    <em>Review</em> your cart:
    <button class="btn-dark">
        @Html.ActionLink("Checkout", "PaymentForm", "Checkout")
    </button>
</h3>
<div id="update-message">
</div>
<table style="width: 100%" border="1">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Unit Price:
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>
    @foreach (var entry in Model.CartEntries)
    {
        <tr id="row-@entry.EntryID">
            <td>
                @Html.ActionLink(entry.Product.ProductName,
"Details", "Store", new { id = entry.ProductID }, null)
            </td>
            <td>
                @entry.Product.Price
            </td>
            <td id="entry-count-@entry.EntryID">
                @entry.Count
            </td>
            <td>
                <a href="#" class="RemoveLink"
                   data-id="@entry.EntryID">
                    Remove
                    from cart
                </a>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.ShoppingCartTotal
        </td>
    </tr>
</table>
<text>@Html.DisplayTextFor(model => model.ErrorMessage)</text>